@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	list-style-type: none;
}

#all {
	background: url(图片/夜.jpg);
	background-size: cover;

	height: 2600px;

}

.nav {
	width: 100%;

}

.nav ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	background: rgba(100, 0, 200, 0.2);
	height: 50px;
	font-weight: 800;
	padding-right: 220px;
}

.nav ul li {
	min-width: 100px;
}

.nav ul a {
	height: 30px;
	display: flex;
	align-items: center;
	margin-top: 10px;
	justify-content: center;
	color: #FFF;
	text-decoration: none;
	width: 70px;
	font-size: 16px;
	transition: background 0.5s linear;
}

.nav ul a:hover {
	border-bottom: 3px white solid;

}

#showtime {
	width: 320px;
	height: 50px;
	padding-left: 50px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
}


/*定义服务器端使用的图标字体*/

@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: FontAwesome;
	font-size: 1.5rem;
	color: white;
}

.icon-1 {
	position: absolute;
	top: 10px;
	left: 40px;
}

.icon-2{
	position: absolute;
	top:8px;
	right: 90px;
}

.icon-3 {
	position: absolute;
	top: 12px;
	right: 180px;
}

.icon-4 {
	position: absolute;
	top: 12px;
	right: 230px;
}

#main {
	display: flex;
	justify-content: center;

}

#left {
	width: 300px;
	height: 1000px;
}

#zuozhe {
	width: 270px;
	height: 350px;
	background: rgba(0,0, 0, 0.3);
	box-shadow: 2px 2px 5px #888888;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	text-align: left;
}



#zuozhe img {
	width: 100px;
	height: 100px;
	display: flex;
	flex-flow: center;
	padding: 15px 15px 15px 0px;

}

#xinxi {
	display: flex;
	flex-flow: row wrap; 
	color:white;

}
#xinxi p{
		text-indent: 2em;
		color:white;
}

#xinxi h1{
	color:white;
	font-size: 32px;
	margin: 40px 0px 0px 20px;
	width:100px;
}

#xinxi h1:hover {
	color: #853F26;

}

#left h3 {
	font-weight: normal;
	margin-bottom: 10px;
}

#more ul{
	width: 260px;
	height: 350px;
	
}
#more ul li{
	display: flex;
	flex-flow:column;
	align-items:center;
	justify-content: center;
	
}
#more ul li .ping{
	width:260px;
	height: 100px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0.5s;
	
}
#more ul li .ping div{
	width:80px;
	height: 30px;
	background:rgba(0,0,0,0);
	border-radius:0px;
	display: flex;
	align-items: center;
	justify-content: center;
	border:1px solid #000000;
	margin-left: 20px;
	color: white;
	
	margin-top: 0px;
	padding: 0px;
}
#more ul li .ping img{
	width:120px;
	height: 80px;
	
}
#more ul li a{
	padding-top: 10px;
	height: 35px;
	width: 260px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	color: white;
	text-decoration: none;
	font-size:16px;
	font-weight: normal;
	border-bottom:1px #FFFFFF dashed;
	padding-left: 5px;
	transition: 0.5s;
}



#more ul li a:hover{
	background: rgba(255,255,255,0.2);
	height: 130px;
	transition: 0.5s;
}

#more ul li a:hover .ping{
	opacity: 1;
	transition: 0.5s;
}

hr {
	width: 100%;
	margin: 0 auto;
	border: 0;
	height: 3px;
	color: #FFEFD5;
}
#zp{
	text-align: left;
	margin-top: 10px;
	width: 270px;
	height: 500px;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 5px #888888;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#pinglun {
	color: white;
	text-align: left;
	margin-top: 10px;
	width: 270px;
	height: 700px;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 5px #888888;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#pinglunlan {
	text-align: left;
	margin-top: 10px;
	width: 270px;
	height: 350px;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 5px #888888;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

#pinglunlan h2 ,#pinglun h2,#zp h2,#zuozhe h2{
	color: #853F26;
	padding-top: 10px;
	color: white;
}

#pinglun a {
	display: flex;
	justify-content: flex-start;
	margin-top: 7px;
	align-items: center;
	color: #000000;
	color: white;
}

#pinglun a img {
	width: 20px;
	height: 20px;
}

#pinglun li {
	height: 100px;
	width: 260px;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	color: black;
	text-decoration: none;
	font-size: 16px;
	font-weight: normal;
	border-bottom: 1px #FFFFFF dashed;
	padding-left: 5px;
	overflow: hidden;
	transition: 1s;
}

#pinglun li div {
	height: 30px;
	width: 30px;
	margin-right: 5px;
}
#pinglun li #ping1 {
	height: 50px;
	width: 260px;
	margin-right: 5px;
	margin-top: 10px;
	justify-content: flex-start;
	color: white;
	
}
#pinglun li #ping {
	height: 50px;
	width: 260px;
	margin-right: 5px;
	margin-top: 10px;
	justify-content: flex-start;
	opacity: 0;
	transition: 1s
}

#pinglun li:hover {
	height: 130px;
	width: 260px;
	transition: 0.5s
}

#pinglun li:hover #ping {
	opacity: 1;
	transition: 1s;
}

/*定义服务器端使用的图标字体*/
@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#zan {
	font-family: FontAwesome;
	font-size: 1.5rem;
	margin-right: 50px;
	width: 20px;
	height: 20px;
	color: #808080;

}

#gift {
	font-family: FontAwesome;
	font-size: 1.5rem;

	width: 20px;
	height: 20px;
	color: #808080;
}

#zhuanfa {
	font-family: FontAwesome;
	font-size: 1.5rem;
	margin-left: 50px;
	width: 20px;
	height: 20px;
	color: #808080;
}



#zw {
	width: 1000px;
	height: 2300px;
	display: flex;
	flex-flow: column;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 5px #888888;
	border-radius: 10px;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 30px;
}

#zhengwen {
	text-align: left;
	height: 2000px;
	font-size: 18px;
	text-indent: 2em;
	padding:50px 100px 10px 100px;
	display: flex;
	flex-flow: column;
	font-weight: 300;
	color: white;
	overflow: hidden;
}

#dilan {
	display: flex;
	justify-content: center;
	flex-flow: row;
}
#shuzi {
	display: flex;
	justify-content: center;
	flex-flow: row;
	margin-top: 10px;
}

#zan1 {
	font-family: FontAwesome;
	font-size: 1rem;
	margin-right: 50px;
	width: 20px;
	height: 20px;
	color: #808080;

}

#gift1 {
	font-family: FontAwesome;
	font-size: 1rem;
	margin-right: 0px;
	width: 20px;
	height: 20px;
	color: #808080;
}

#zhuanfa1 {
	font-family: FontAwesome;
	font-size: 1rem;
	margin-left: 50px;
	width: 20px;
	height: 20px;
	margin-right: 4px;
	color: #808080;
}

#change{
	color: white;
}
#bg {
	font-size: 14px;
	margin-top: 40px;
	width: 800px;
	color: white;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

#biaoti {
	margin-top: 40px;
	height: 120px;
	font-size: 40px;
	border-bottom: #CCCCCC 1px solid;
	color: white;

}

#zhengwen img {
	height: 320px;
	width: 500px;
	margin-left: 120px;
	margin-top: 30px;
	margin-bottom: 30px;
	opacity: 0.9;
	transition: 1s;
}

#zhengwen img:hover {
	opacity: 1;

}

#footer {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pingtext {
	margin-top: 10px;
	width: 270px;
	height: 150px;
	font-size: 16px;
	color: #000000;
}

#nm {
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10px;

}

select {
	height: 22px;
	margin-left: 10px;
}

#xz {
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;

}

#checkbox {
	height: 22px;
	margin-left: 45px;
}

#bt {
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
}

#button {
	margin-right: 45px;
	

}

#button:hover {
	color: #853F26;
}

#under ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

#under li {
	width: 79px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;

}

#under a {
	color: white;
}

#under a:hover {
	color: #CCCCCC;
}
#copyright{
	color: white;
}