<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style type="text/css"> .warn{color:red} </style>
<body>

<h1>数据添加</h1>
<h5>Power by 31801150-张帅</h5>
<a th:href="@{'/'}">返回首页</a>



<form th:action="@{/add}" th:object="${stuEntity}" method="post">
    <div>
        <div>
            <span>编号:</span>
            <span><input type="number" th:field="*{id}"/></span>
            <span  class="warn" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">编号有误</span>
        </div>
        <div>
            <span>姓名:</span>
            <span><input type="text" th:field="*{name}"/></span>
            <span  class="warn" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">姓名错误</span>
        </div>
        <div>
            <span>年龄:</span>
            <span><input type="number" th:field="*{age}"/></span>
            <span  class="warn" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">年龄错误</span>
        </div>
        <div>
            <input id="male" name="sex" type="radio" value="0" th:checked="*{sex==0}"/>
            <label for="male">男</label>
            <input id="female" name="sex" type="radio" value="1"  th:checked="*{sex==1}"/>
            <label for="female">女</label>
            <span  class="warn" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">性别错误</span>

        </div>
        <div>
            <span>身份证:</span>
            <span><input type="text" th:field="*{number}"/></span>
            <span  class="warn" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">身份证错误</span>
        </div>
        <div>
            <span>邮箱:</span>
            <span><input TYPE="text" th:field="*{email}"/></span>
            <span  class="warn" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">邮箱错误</span>
        </div>

        <div>
            <span>
                <button type="submit">提交</button>
            </span>
        </div>
    </div>
</form>






</body>
