@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	list-style-type: none;
}

#all {
	background: url(图片/bg.jpg);
	background-size: cover;
	
	height: 3000px;
	
}

.nav {
	width: 100%;
	
}

.nav ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	background: rgba(100, 0, 200, 0.2);
	height: 50px;
	font-weight: 800;
	padding-right: 220px;
}

.nav ul li {
	min-width: 100px;
}

.nav ul a {
	height: 30px;
	display: flex;
	align-items: center;
	margin-top: 10px;
	justify-content: center;
	color: #FFF;
	text-decoration: none;
	width: 70px;
	font-size: 16px;
	transition: background 0.5s linear;
}

.nav ul a:hover {
	border-bottom: 3px white solid;

}

#showtime {
	width: 320px;
	height: 50px;
	padding-left: 50px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
}
#nav1{
	border-bottom: 3px white solid;
}

/*定义服务器端使用的图标字体*/

@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: FontAwesome;
	font-size: 1.5rem;
	color: white;
}
.icon-1{
	position: absolute;
	top:10px;
	left: 40px;
}
.icon-2{
	position: absolute;
	top:12px;
	right: 70px;
}
.icon-3{
	position: absolute;
	top:12px;
	right:120px;
}
.icon-4{
	position: absolute;
	top:12px;
	right:170px;
}

#tiao{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	margin: 20px 0 20px 150px;
}
#tiao #search{
	height: 25px;
	width: 250px;
}
#tijiao{
	height: 25px;
	width: 60px;
	margin-left: 10px;
	background-color:plum;
	font-size: 15px;
	color: white;
}
#under ul{
	display:flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}
#under li{
	width: 79px;
	height: 70px;
	display:flex;
	justify-content: center;
	align-items: center;
	
}
#main{
	width: 90%;
	height: 2750px;
	background-color: rgba(255,255,255,0.3);
	display: flex;
	flex-flow: center;
}
#left{
	width:70%;
	display:flex;
	flex-flow: column;
	height: 100%;
}
#tui{
	display:flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	height: 400px;
}
#left h2{
	margin-top: 20px;
	font-size: 30px;
	width:120px;
	padding-bottom: 7px;
	font-weight: normal;
	margin-bottom: 20px;
	border-bottom: hotpink 4px solid;
	align-self: center;
}
#tui div{
	width:30%;
	height:340px;
	margin-left: 30px;
	position: relative;
}
#tui div h3{
	font-weight: 500;
	margin-bottom: 30px;
}
#tui div p{
	position: absolute;
	top:120px;
	left:55px;
	font-size: 20px;
	opacity: 0;
	transition: 1s;
	color: deeppink;
	z-index: 10;
}
#tui div img{
	margin: 10px;
	width:90%;
	height: 190px;
	transition: 1s;
}
	
#tui div:hover p{
	opacity: 1;
	transition: 1s;
}
#tui div:hover img{
	transform: rotateY(180deg);
	transform-origin: center bottom;
	transition: 1s;
	opacity: 0.5;
}
#tui div article{
	padding: 20px;
	font-size: 16px;
	text-align: left;
	text-indent: 2em;
	height:150px;
}
.yue{
	text-indent: 0;
	width:120px;
	height: 40px;
	font-size: 14px;
	color: #000000;
	border: #000000 1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 20px 20px 20px;
	background-color:rgba(255,255,255,0.2);
	
}
.yue:hover{
	color: #808080;
}

#under a{
	color: #000000;
}
#under a:hover{
	color: #CCCCCC;
}

#left #quanbu{
	margin-top: 200px;
	font-size: 30px;
	width:120px;
	padding-bottom: 7px;
	font-weight: normal;
	margin-bottom: 20px;
	border-bottom: hotpink 4px solid;
	align-self: center;
}

#text-all ul{
	width:100%;
	display: flex;
	flex-flow: column;
	margin: 20px 0px 50px 20px;
}

#text-all a{
	width:100%;
	display: flex;
	flex-flow: row;
	height: 200px;
	border-bottom: #CCCCCC 1px dashed;
	align-items: center;
	justify-content: center;
}
#text-all a:hover{
	background-color: rgba(255,255,255,0.6);
}

#text-all img{
	
	width:240px;
	height:160px;
}
#text-all a{
	color: #000000;
	
}
#text-all p{
	text-align: left;
	text-indent: 2em;
	width:550px;
	margin-left: 30px;
	font-size: 16px;
	margin-bottom: 20px;
	overflow: hidden;

	height:85px;
	
}
#text-all span{
	
	font-family: FontAwesome;
	color: black;
	width: 550px;
	height: 50px;
	margin-left: 400px;
	color: #808080;
	
}
#text-all h3{
	text-align: left;
	margin-left: 30px;
	margin-bottom: 10px;
	
}

#right{
	margin-left: 30px;
	width:25%;
	display:flex;
	flex-flow: column;
	height: 620px;
	background-color: rgba(255,255,255,0.3);
	position: sticky;
	border-radius: 10px;
	right: 60px;
	top:70px
}
#right h2{
	margin-top: 20px;
	font-size: 30px;
	width:120px;
	padding-bottom: 7px;
	margin-right: 10px;
	font-weight: normal;
	margin-bottom: 20px;
	border-bottom: hotpink 4px solid;
	align-self: center;
}
#right ul{
	width: 380px;
	height: 250px;
	margin-left: 20px;
}
#right ul li{
	display: flex;
	flex-flow:row;
	align:center;
	
}
#right ul li a{
	height: 45px;
	width: 340px;
	display: flex;
	align-items: center;
	color: black;
	text-decoration: none;
	font-size:16px;
	font-weight: normal;
	background: rgba(255,255,255,0.5);
	border-bottom:1px #CCCCCC dashed;
	padding-left: 5px;
	transition: 0.5s;
}
#right ul li div{
	width:30px;
	height: 30px;
	background-color:rgba(155,0,155,0.3);
	border-radius:30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	
	
	
}
#right ul li a:hover{
	background: rgba(200,0,100,0.2);
	height: 60px;
	color: #DB7093
	transition: 0.5s;
}
#zz{
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	height: 150px;
}
#zz div{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	margin-left: 25px;
	margin-right: 25px;
	font-family: FontAwesome;
	font-size: 1rem;
	
}
#zz div img{
	width: 80px;
	height: 80px;
}
#ye{
	display: flex;
	flex-flow: row;
	margin-left: 500px;
}
#ye div{
	display: flex;
	align-items: center;
	justify-content: center;
	width:30px;
	height:30px;
	margin: 10px;
	background-color: rgba(200,0,100,0.4);
	
}
#ye div a{
	color: white;
	font-weight: 800;
}
#ye div a:hover{
	border: 0px;
	height: 30px;
	color: rgba(200,0,100,0.4);
	background-color: white;
	
}

